 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    -ms-overflow-style: none;
    scrollbar-width: none;

}

body{
    background-color: #e0e0e0;
    background-size: cover;
    border-radius: 14px;
    background: #e0e0e0;
    box-shadow:  -38px 38px 76px #bebebe,
                38px -38px 76px #ffffff;
    
}

.container{
    display: flex;
    justify-content: center;
    
    gap: 30px;
    
    padding: 25px;
    
    overflow: scroll;
    height: 100%;
    
}

.main-columns{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 14px;
background: #e0e0e0;
box-shadow:  -38px 38px 76px #bebebe,
             38px -38px 76px #ffffff;
    border-radius: 8px;
    width: 380px;
    
}

div .btn-card {
    display: flex;
    justify-content: right;
}